[Unit]
Description=Docker private repo service
BindsTo=docker.service
After=network.target
Requires=docker.service 

[Service]
# Ignore errors with "-" since the container may already exist
ExecStartPre=-/usr/bin/docker rm -v docker-registry
ExecStart=-/usr/bin/docker run -d -p 443:5000 --restart=always --name docker-registry \
                                                                   -e "REGISTRY_AUTH=htpasswd" \
                                                                   -e "REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm" \
                                                                   -e REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd \
                                                                   -v {{ docker_repo_storage_path }}:/var/lib/registry \
                                                                   -v {{ docker.registry.target_config_dir }}:/certs \
                                                                   -v {{ docker_repo_auth_path }}:/auth \
                                                                   -e REGISTRY_HTTP_TLS_CERTIFICATE=/certs/{{docker.registry.public_key}} \
                                                                   -e REGISTRY_HTTP_TLS_KEY=/certs/{{docker.registry.private_key}} \
                                                                   registry:2
