<settings>
    <proxies>
        <proxy>
            <id>httpProxy</id>
            <active>{{proxy_env.use_proxy}}</active>
            <protocol>http</protocol>
            <host>{{proxy_env.http_maven_proxy_host}}</host>
            <port>{{proxy_env.http_maven_proxy_port}}</port>
            <username></username>
            <password></password>
            <nonProxyHosts></nonProxyHosts>
        </proxy>
        <proxy>
            <id>httpsProxy</id>
            <active>{{proxy_env.use_proxy}}</active>
            <protocol>https</protocol>
            <host>{{proxy_env.http_maven_proxy_host}}</host>
            <port>{{proxy_env.http_maven_proxy_port}}</port>
            <username></username>
            <password></password>
            <nonProxyHosts></nonProxyHosts>
        </proxy>
    </proxies>
</settings>
