dn: cn=xdci-admin, ou=Users, {{ldap.dc}}
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
objectClass: top
cn: xdci-admin
sn: xdci-admin
uid: xdci-admin
givenName: xdci-admin
mail: xdci-admin@renci.org
userPassword: 1c3cr34ms0c14l#V#RYD$Y

dn: cn=xdci-admin, ou=Groups, {{ldap.dc}}
objectclass: posixGroup
cn: xdci-admin
objectClass: top
gidNumber: 103
memberUid: xdci-admin

dn: cn=de_grouper, ou=Users, {{ldap.dc}}
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
objectClass: top
cn: de_grouper
sn: de_grouper
uid: de_grouper
givenName: de_grouper
mail: de_grouper@mail.org
userPassword: de_grouper
